body {
    min-width: 360px;
    min-height: 949px;
}
.baitian {
    background: linear-gradient(to bottom, #8767cf, #348ac7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8767cf, #348ac7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #8767cf, #348ac7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heiye {
    background: #1e1e1e;
}
.home {
    padding: 40px 0 30px  50px;
}
.home h1, h3 {
    display: inline-block;
}
.home h3 {
    margin-left: 10px;
}
h3 small {
    color: #f4eff7;
}
.home a, .home a:hover, .home a:active {
    text-decoration: none;
    color: #ffffff;
}
.editor {
    height: 780px;
    /*padding-top: 20px;*/
}
@keyframes settingframes {
    50% {background: #c18ce7
    }
    100% {background: #ffffff}
}
.setting {
    position: fixed;
    z-index: 1000;
    bottom: 50px;
    left: 50px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background: #54dee7;
    transition: width 0.2s 0.3s, height 0.2s 0.3s, background 0.2s 0.3s, border-radius 0.1s 0.3s, left 0.3s;
    /*animation: settingframes 10s infinite alternate;*/
    overflow: hidden;
}
.writeHelp {
    position: absolute;
    z-index: 1100;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 500px;
    opacity: 0;
    transition: opacity 0.1s 0.55s;
}
.writeCaogao {
    position: absolute;
    z-index: 1100;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 500px;
    display: none;
}
.writeHelp:hover {
    opacity: 1;
}
.setting:hover {
    left: 30px;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background: #f9f9f9;
}
.writeHelp h4, .writeCaogao h4 {
    font-weight: bold;
    padding-bottom: 15px;
    /*border-bottom: solid 1px #d2d2d2;*/
    color: #f9825f;
}
.writeHelp div, .writeCaogao div:last-child {
    padding: 0 30px;
}
@media screen and (max-width: 768px){
    .home {
        padding: 0px;
    }
    /*.editor {
        margin-left: -15px;
        margin-right: -15px;
    }*/
    .editor {
        height: 660px;
    }
}